//Colors

$text-color: #f2e5e5;
$bg-color: #100707;
$primary-color: #d89495;
$secondary-color: #852829;
$accent-color: #d14142;

//Typography

$border-small: 10px;
$border-medium: 15px;
$border-large: 20px;
